# Mission TO Mars

In [ ]:
#In this assignment, i will build a web application that scrapes various websites for
#data related to the Mission to Mars and displays the information in a single HTML page.
#The following outlines what you need to do.

In [25]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [26]:
driver= webdriver.Chrome('C:/Users/renuka/Desktop/chromedriver.exe')

In [ ]:
### NASA Mars News

#######* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) 
######## and collect the latest News Title and Paragragh Text. Assign the text to variables that you can reference later.

In [27]:
driver.get('https://mars.nasa.gov/news/')
#response = requests.get()
#created a soup object 
soup = BeautifulSoup(driver.page_source,"lxml")
driver.quit()

In [28]:
# scrapping title from the mars gov news and created a list to append each title, using soup
title_list =[]
for item in soup.select('.list_text'):
    title = item.select('.content_title')[0].text
    title_list.append(title)
    #print(title)

In [30]:
title_list[2]

'NASA Invests in Visionary Technology '

In [31]:
#scrapping paragraph from the mars gov news and created a list to append each paragraph
para_list =[]
for item in soup.select('.list_text'):
    para = item.select('.article_teaser_body')[0].text
    para_list.append(para)

In [32]:
para_list[3]

'NASA is about to go on a journey to study the center of Mars.'

In [33]:
#converted list items to dictionary.
list_to_dict = {'Title':title_list,
                'Paragraph':para_list}

In [34]:
import pandas as pd

In [35]:
#created a dataframe for easy reading from each key and values from the dictionary.
para_data = pd.DataFrame(list_to_dict)
para_data.head()

,Paragraph,Title
0,The first CubeSat mission to deep space will l...,NASA Engineers Dream Big with Small Spacecraft
1,"On May 5, millions of Californians may witness...",Bound for Mars: Countdown to First Interplanet...
2,"NASA is investing in technology concepts, incl...",NASA Invests in Visionary Technology
3,NASA is about to go on a journey to study the ...,NASA is Ready to Study the Heart of Mars
4,"InSight, the next mission to the Red Planet, w...",‘Marsquakes’ Could Shake Up Planetary Science

In [ ]:
#######************* End of solution1 *******###########

In [ ]:
### Question2: Mars Weather

#####***** Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en)*************
#####***** and scrape the latest Mars weather tweet from the page. 
#####***** Save the tweet text for the weather report as a variable called `mars_weather`.

In [37]:
driver= webdriver.Chrome('C:/Users/renuka/Desktop/chromedriver.exe')

In [38]:
#created a soup1 object to extract latest mars weather news from twitter page 
driver.get('https://twitter.com/marswxreport?lang=en')
soup1= BeautifulSoup(driver.page_source,'lxml')
driver.quit()

In [39]:
# created a mars_weather object for storing text(results) 
mars_weather = soup1.select('.TweetTextSize')[0].text
mars_weather

'Sol 2030 (April 22, 2018), Sunny, high -4C/24F, low -73C/-99F, pressure at 7.21 hPa, daylight 05:25-17:21'

In [ ]:
#########***********end of solution2*********************###################

In [ ]:
### Question3 Mars Facts

#* Visit the Mars Facts webpage [here](http://space-facts.com/mars/) 
#and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

#* Use Pandas to convert the data to a HTML table string.

In [40]:
driver= webdriver.Chrome('C:/Users/renuka/Desktop/chromedriver.exe')

In [41]:
#created a soup2 object to scrape the table contains planet diameter, mass,etc.
driver.get('http://space-facts.com/mars/')
soup2= BeautifulSoup(driver.page_source,'lxml')
driver.quit()

In [42]:
# scrapping single diameter
for tr in soup2.select(".tablepress"):
    for tr2 in tr.select(".row-1"):
        tr3 = tr2.select(".column-1")[0].text
    print(tr3)

Equatorial Diameter:

In [43]:
import pandas as pd

In [44]:
# uisng pandas.read_html method to scrape the table from the url and created a object(tables)
tables = pd.read_html('http://space-facts.com/mars/')
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [45]:
#converting tables object into dataframe and assign column names(Units,Values)
df = tables[0]
df.columns = ["Units","Values"]
df

                  Units                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [46]:
#set index Units
df.set_index('Units', inplace=True)
df.head()

                                             Values
Units
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [47]:
#converting data frame to html using method df.to_html()
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Units</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
###### Question 4  Mars Hemisperes
#Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) 
#to obtain high resolution images for each of Mar's hemispheres.

In [48]:
driver = webdriver.Chrome('C:/users/renuka/Desktop/chromedriver.exe')

In [49]:
driver.get('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
soup1= BeautifulSoup(driver.page_source,'lxml')
driver.quit()

In [ ]:
#Save both the image url string for the full resolution hemipshere image, and the Hemisphere title containing the hemisphere name. 
#Use a Python dictionary to store the data using the keys `img_url` and `title`.

In [50]:
#scrapping url title and created a list to append each title.
name_list=[]
for item in soup1.select('.description'):
    name = item.select('h3')[0].text
    name_list.append(name)
    print(name_list)

['Cerberus Hemisphere Enhanced']
['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced']
['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced']
['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [6]:
one = soup1.find_all('div',class_='description')
#one

In [19]:
#name_list=[]
#for item in soup1.select('.description'):
 #   link_list = item.select('.itemLink')
  #  name_list.append(name)
   # print(link_list)

In [51]:
#scrapping image url and created image_url list to append each item to the list.
image_url =[]
for item in soup1.select('.description'):
    #print(item.attrs['href'])
    two_all = item.select('.itemLink')
    for i in two_all:
        image = i.attrs['href']
        image_url.append(image)

In [52]:
image_url

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [54]:
#created dictionary for name_list and image_url list to put it together.
hemisphere_image_urls ={"Ttile":name_list,
               "url":image_url,
               }
hemisphere_image_urls

{'Ttile': ['Cerberus Hemisphere Enhanced',
  'Schiaparelli Hemisphere Enhanced',
  'Syrtis Major Hemisphere Enhanced',
  'Valles Marineris Hemisphere Enhanced'],
 'url': ['/search/map/Mars/Viking/cerberus_enhanced',
  '/search/map/Mars/Viking/schiaparelli_enhanced',
  '/search/map/Mars/Viking/syrtis_major_enhanced',
  '/search/map/Mars/Viking/valles_marineris_enhanced']}

In [55]:
import pandas as pd;

In [56]:
#created a dataframe from elements in the dictionary(hemisphere_image_urls)
url_title = pd.DataFrame(hemisphere_image_urls)
url_title

,Ttile,url
0,Cerberus Hemisphere Enhanced,/search/map/Mars/Viking/cerberus_enhanced
1,Schiaparelli Hemisphere Enhanced,/search/map/Mars/Viking/schiaparelli_enhanced
2,Syrtis Major Hemisphere Enhanced,/search/map/Mars/Viking/syrtis_major_enhanced
3,Valles Marineris Hemisphere Enhanced,/search/map/Mars/Viking/valles_marineris_enhanced

# End Of solutions