In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [2]:
driver= webdriver.Chrome('C:/Users/renuka/Desktop/chromedriver.exe')

In [3]:
def scrape():
    url= "https://twitter.com/marswxreport?lang=en"
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    my_listings = soup.find('p',class_='TweetTextSize').get_text()
    return my_listings
if __name__ == "__main__":
    print(scrape())

Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21

In [ ]:
title_list=[]
def scrape1():
    driver.get('https://mars.nasa.gov/news/')
#response = requests.get()
    soup1 = BeautifulSoup(driver.page_source,"lxml")
    driver.quit()
    #title_list =[]
    for item in soup1.select('.list_text'):
        title = item.select('.content_title')[0].text
        title_list.append(title)
    return title_list

In [ ]:
driver.get('https://mars.nasa.gov/news/')
#response = requests.get()
soup1 = BeautifulSoup(driver.page_source,"lxml")
driver.quit()

In [ ]:
title_list =[]
for item in soup1.select('.list_text'):
    title = item.select('.content_title')[0].text
    title_list.append(title)
    #print(title)

In [ ]:
para_list =[]
for item in soup1.select('.list_text'):
    para = item.select('.article_teaser_body')[0].text
    para_list.append(para)

In [ ]:
list_to_dict = {'Title':title_list,
                'Paragraph':para_list}

In [ ]:
#list_to_dict

In [15]:
import pandas as pd

In [ ]:
para_data = pd.DataFrame(list_to_dict)
#para_data.head()

In [ ]:
para_data.to_html

In [16]:
from flask import Flask,render_template
from flask import jsonify
#from scrapping import scrape

app = Flask(__name__)

In [ ]:
@app.route('/')
def index():
    #return jsonify(my_listings=scrape())
    return render_template("tweet.html", my_listings=scrape(),list_dict=list_to_dict)
    #return render_template("tweet.html",list_dict=list_to_dict)
    #return render_template("tweet.html",title_list=scrape1())
if __name__ == "__main__":
    app.run(debug=False)

In [ ]:
@app.route('#experience')
def nasa():
    return render_template("tweet.html",list_dict=list_to_dict)

if __name__ == "__main__":
    app.run(debug=False)

In [17]:
tables = pd.read_html('http://space-facts.com/mars/')
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
df = tables[0]
df.columns = ["Units","Values"]
#df

In [19]:
df.set_index('Units', inplace=True)
df.head()

                                             Values
Units
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [20]:
html_table = df.to_html("table.html")
#html_table

In [21]:
@app.route('/')
def index():
    #return jsonify(my_listings=scrape())
    return render_template("tweet.html", my_listings=scrape(),my_table=html_table)
    #return render_template("tweet.html",list_dict=list_to_dict)
    #return render_template("tweet.html",title_list=scrape1())
if __name__ == "__main__":
    app.run(debug=False)

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [22/Apr/2018 16:21:13] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2018 16:21:13] "GET /vendor/font-awesome/css/font-awesome.min.css HTTP/1.1" 404 -
127.0.0.1 - - [22/Apr/2018 16:21:13] "GET /vendor/devicons/css/devicons.min.css HTTP/1.1" 404 -
127.0.0.1 - - [22/Apr/2018 16:21:13] "GET /vendor/simple-line-icons/css/simple-line-icons.css HTTP/1.1" 404 -
127.0.0.1 - - [22/Apr/2018 16:21:13] "GET /css/resume.min.css HTTP/1.1" 404 -
127.0.0.1 - - [22/Apr/2018 16:21:13] "GET /img/profile.jpg HTTP/1.1" 404 -